name: Beszel Agent
version: 0.17.0
slug: beszel-agent
description: Beszel Agent是一个轻量级的监控代理，专门用于收集主机系统的 Docker 容器指标和系统性能数据，并将这些数据回传到中央监控服务器（Beszel Hub）
url: https://github.com/waxgourd-ha/waxgourd-addons
# image: henrygd/beszel-agent
image: wghaos/addon-wghaos-beszel-agent
init: false
arch:
  - aarch64
  - amd64
startup: application
boot: manual
host_network: true
map:
  - docker:ro
full_access: true
#udev: true
#usb: true
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
apparmor: false
options:
  listen_port: 45876
  ssh_key: ""
  token: ""
  hub_url: ""
  data_path: "/data/beszel_agent_data"
  extra_filesystems:
    - source: /dev/sda1
      target: sda1
      fstype: vfat
schema:
  listen_port: "int"
  ssh_key: "str"
  token: "str"
  hub_url: "str"
  data_path: "str"
  extra_filesystems:
    - source: "list(/dev/dri|/dev/dri/card0|/dev/dri/card1|/dev/dri/renderD128|/dev/vchiq|/dev/video10|/dev/video11|/dev/video12|/dev/video13|/dev/video14|/dev/video15|/dev/video16|/dev/ttyUSB0|/dev/ttyUSB1|/dev/ttyUSB2|/dev/ttyUSB3|/dev/ttyUSB4|/dev/ttyUSB5|/dev/sda|/dev/sdb|/dev/sdc|/dev/sdd|/dev/sde|/dev/sdf|/dev/sdg|/dev/nvme|/dev/nvme0n1p1|/dev/nvme0n1p2|/dev/nvme0n1p3|/dev/nvme1n1p1|/dev/nvme1n1p2|/dev/nvme1n1p3|/dev/nvme2n1p1|/dev/nvme2n1p2|/dev/nvme3n1p3|/dev/mmcblk|/dev/fuse|/dev/sda1|/dev/sdb1|/dev/sdc1|/dev/sdd1|/dev/sde1|/dev/sdf1|/dev/sdg1|/dev/sda2|/dev/sdb2|/dev/sdc2|/dev/sdd2|/dev/sde2|/dev/sdf2|/dev/sdg2|/dev/sda3|/dev/sdb3|/dev/sda4|/dev/sdb4|/dev/sda5|/dev/sda6|/dev/sda7|/dev/sda8|/dev/nvme0|/dev/nvme1|/dev/nvme2)?"
      target: "str?"
      fstype: "list(vfat|exfat|ntfs|ext2|ext3|ext4|xfs|btrfs|auto)?"
docker_api: true
environment:
  LOG_LEVEL: info
