name: Netdata
version: 2.8.2
slug: netdata
description: 'Netdata每秒收集指标，并将其显示在漂亮的低延迟仪表板中'
url: https://github.com/waxgourd-ha/waxgourd-addons
image: wghaos/netdata
init: false
arch:
  - aarch64
  - amd64
privileged:
  - SYS_ADMIN
  - SYS_PTRACE
panel_icon: mdi:chart-bell-curve
panel_title: Netdata
ingress: true
ingress_port: 19999
ingress_stream: true
ports:
  19999/tcp: 19999
ports_description:
  19999/tcp: Web interface
boot: manual
