name: "XiaoMusic"
version: "0.3.100"
slug: "xiaomusic"
panel_icon: "mdi:music-box"
description: "Xiaomusic for Home Assistant Addons"
url: https://github.com/waxgourd-ha/waxgourd-addons
image: wghaos/addon-wghaos-xiaomusic
init: false
arch:
  - amd64
  - aarch64
startup: "services"
boot: "manual"
apparmor: false
#ingress: true
#ingress_port: 8090
#host_dbus: true
map:
  - config:rw
  - media:rw
  - ssl:ro
  - share:rw
webui: "[PROTO:http]://[HOST]:[PORT:8090]/"
ports:
  8090/tcp: 58090
ports_description:
  8090/tcp: Server port
environment:
  XIAOMUSIC_PUBLIC_PORT: "58090"
devices:
  - /dev/fuse
options:
  song_media: ""
  song_share: ""
  song_download: ""
schema:
  song_media: "str?"
  song_share: "str?"
  song_download: "str?"